header {
    background-color: white;
    border-bottom: 1px solid  #E7E9FC;
}
 .logo 
 {
    color:  #2E2F42;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.7% */
letter-spacing: 0.54px;
text-transform: uppercase;

}
.web {color:  #4D5AE5;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; /* 116.7% */
    letter-spacing: 0.54px;
    text-transform: uppercase;

}











